<h2>Books Report</h2>

<table border="1">
<tr>
  <th>Name</th>
  <th>Author</th>
  <th>Status</th>
</tr>

<% books.forEach(b => { %>
<tr>
  <td><%= b.title %></td>
  <td><%= b.author %></td>
  <td><%= b.status %></td>
</tr>
<% }) %>
</table>
<a href="/reports">Back</a>