<h2>Return Book</h2>
<form method="POST" action="/transactions/return">
  <label>Transaction ID</label><br>
  <input type="text" name="txId" required placeholder="Enter Transaction ID"><br><br>

  <label>Actual Return Date</label><br>
  <input type="date" name="actualReturnDate" required><br><br>

  <button>Confirm Return</button>
</form>
<a href="/transactions/availability">Back to Availability</a>